/* ***********GRID DO CONTAINER*********** */

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #ffffff;
    margin: 20px auto 30px;
}

/* *****GRID DA ESQUERDA***** */
.grid-esquerda{
    background: white;
    height: 800px;
    grid-column-start: 1;
    grid-column-end: 2;
}
/* *****CONTEUDO DO GRID DA ESQUERDA***** */



/* *****GRID CENTRAL***** */
.grid-centro{   
    border: 1px solid #979494;
    background: #ff3772;
    height: 800px;
    grid-column-start: 2;
    grid-column-end: 5;
}

/* *****CONTEUDO DO GRID CENTRAL***** */
span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.boas-vindas{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: white;
    margin-top: 250px;
}

.contatos{
    position: relative;
    width: 450px;
    margin: 20px auto 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1.5px solid gray;
    border-radius: 15px;
}

.contatos ul li{
    display: flex;
    background: rgba(255, 255, 255, .1);
    padding: 15px 20px;
    color:#fff;
    margin: 5px 0;
    transition: .5s;
    border-radius: 10px;
}

.contatos ul li:nth-child(1) {
    background: rgba(255, 255, 255, .6);
}

.contatos ul li:nth-child(2) {
    background: rgba(255, 255, 255, .4);
}

.contatos ul li:nth-child(3) {
    background: rgba(255, 255, 255, .2);
}

.contatos ul li span:nth-child(1) {
    width: 100px;
}

.contatos ul li span:nth-child(2) {
    width: 200px;
    text-align: center;  
}

.contatos ul li span:nth-child(3) {
    width: 80px;
    text-align: center;  
}

.contatos ul li:hover{
    transform: scale(1.06);
    background: #ff3772;
}

/* *****GRID DA DIREITA***** */
.grid-direita{
    background: white;
    height: 800px;
    grid-column-start: 5;
    grid-column-end: 6;
}

/* *****CONTEUDO DO GRID DA DIREITRA***** */
