/* 
Resetando o Que o normaliza provavelmente não resetou
*/
body{
    width: 100%!important;
    height: 100%!important;

}

ul{
    padding: 0px!important;
}

html{
    box-sizing: border-box;
    background: #ffffff
}

/*
Estilizando o SIte
*/

.menu-principal{
    top: ;
    width: 100%;
    background-color: blueviolet;
    height: 80px;
    margin-top: -18px ;
}

main, .comtent{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.col-100{
    width: 100%;
    float: left; 
}

.menu-urls{
    height: 50px;
    border: 3px solid #EEE9E9; 
}

.logo{
    float: left;
    padding: 16 ;
    width: 80%;
}

.img-logo {
    height: 60px;
    padding: 11px;
    margin-left: -10px;
}

.redes-sociais ul li{
    margin-left: 5px;
    display: inline-block;
    padding-top: 11px;
}

.face {
    height: 30px;
    padding: 0px;
    margin: 10px;
}

.insta {
    height: 30px;
    padding: 0px;
    margin: 9px;
}

.header-2{
    background-color: white;
    width: 980px;
}

.menu{
    width: 55%;
    float: left;
}

.menu ul li:hover {
    border-bottom: 3px solid #00bac6;

}

.menu ul li a:hover {
    color: #00bac6;
}

.menu ul li{
    display: inline-block;
    color: #CDC9C9;
    margin-left: 10px;
    height: 34px;

}

.menu ul li a{
    color: #696969;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

.busca{
    text-align: center;
    width: 40%; 
    float: right;
}

.busca input{
    background-image: ('../img/lupa-pesquisa.png');
    height: 26px;
    margin-top: 5.5px;
    margin-left: 10px;
    padding-left: 10px;
    width: 190px;
}


/* Abaixo resetando os botões para incerir a imagem*/
button.slick-prev{
    /*resetando o botão*/
    display: inline-block;
    font-size: 0px;
    border: none;
    height: 128px;
    width: 128px;
    background-color: transparent;
    position: absolute;
    z-index: 9;
    top: 35%;
    left: 40px;

    /* adicionando a imagem*/
    background-image: url('../img/seta-esquerda.png') 
}

button.slick-next{
    /*resetando o botão*/
    display: inline-block;
    font-size: 0px;
    border: none;
    height: 128px;
    width: 128px;
    background-color: transparent; 
    position: absolute;
    z-index: 9;
    top: 35%;
    right: 40px;

    /* adicionando a imagem*/
    background-image: url('../img/seta-direita.png') 
}

.slick-dots{
    margin: 0 auto;
    width: 10%;
    position: absolute;
    left: 45%;
    top: 780px;
}

.slick-dots li{
    display: inline-block;
    padding-left: 10px;
}

.slick-dots li button{
    font-size: 0px;
    border: 3px solid #ffffff;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9;
    top: 780px;
}

li.slick-active button{
    background: #00bac6;
}

.slick-initialized{
    overflow: hidden;    
}